extends layout
block content
	h1 Want to create an account with your github profile?
	p. 
		We got your github profile but couldn't find an account in our database. 
		Do you want to create a new account using your github profile with one click?
	a(href="/register-github/confirm") Register with github